<div class="form-container">
    <div class="header-container">
        <div class="form-header"> 
            <h1><i class="fa-solid fa-boxes-packing"></i> &nbsp Creación de documento</h1>
            <span>Este apartado es para la creación de documentos para inventario</span>
        </div>
    </div>
    <div class="section-content">
        
        <div class="section-container" id="formContainer">
            <div class="inputs-container">
                <div class="form-inputs">
                    <label for="txtDocument">Documento</label>
                    <input disabled type="text" value="Nuevo" class="" id="noDocument">
                </div>
                <div class="form-inputs"></div>
                <div class="form-inputs"></div>
                <div class="form-inputs">
                    <label for="txtCurrentDate">Usuario contador</label>
                    <select name="selectCurrentStore"  id="userCounter">
                        <option value="0" selected>Seleccionar usuario</option>
                        <option value="1" >Dariel Salas</option>
                    </select>
                </div>
                <div class="form-inputs">
                    <label for="selectCurrentStore">Departamento</label>
                    <!-- <input disabled type="text" class="requerid" id="txtCurrentStore"> -->
                    <select name="selectCurrentStore"  id="department">
                        <option value="0" selected>Seleccionar departamento</option>
                        <option value="1" >Oficina</option>
                    </select>
                </div>
                <div class="form-inputs">
                    <label for="txtOtherStore">Fecha</label>
                    <input type="date" value="" id="dateInput" disabled>
                </div>
                <div class="form-inputs">
                    <label for="txtEstatus">Sucursal</label>
                    <select name="selectCurrentStore"  id="branch">
                        <option value="0" selected>Seleccionar sucursal</option>
                        <option value="1" >Losmina</option>
                    </select>
                </div>
                <div class="form-inputs">
                    <label for="txtEstatus">Condición</label>
                    <select name=""  id="condition">
                        <option value="0" selected>Seleccionar condición</option>
                        <option value="1" >Si me das money</option>
                    </select>
                </div>
                <div class="form-inputs">
                    <label for="txtEstatus">Estatus</label>
                    <select name="selectCurrentStore"  id="statusId">
                        <option value="1" selected>Activo</option>
                        <option value="2" >Inactivo</option>
                    </select>
                </div>
            </div>
            <!-- <div class="content-row">
                <h4>Seleccionar articulo manual</h4>
                <div class="inputs-container">
                    <div class="form-inputs">
                        <label for="txtCodigoBarra">Codigo de barra</label>
                        <input type="text" id="txtCodigoBarra">
                    </div>
                    <div class="form-inputs">
                        <label for="txtCodigoBarra">Descripcion</label>
                        <input type="text" id="txtDescripcionPanel" disabled>
                    </div>  
                    <div class="form-inputs">
                        <label for="txtCodigoBarra">Suplidor</label>
                        <input type="text" id="txtSuplidorPanel" disabled>
                    </div>
                    <div class="form-inputs">
                        <label for="txtCodigoBarra">Costo</label>
                        <input type="text" id="txtCostoPanel" disabled>
                    </div> 
                   
                    <div class="form-inputs">
                        <label for="txtCodigoBarra">Existencia remota</label>
                        <input type="text" id="txtExistenRemota" disabled>
                    </div>
                    <div class="form-inputs">
                        <label for="txtCodigoBarra">Cantidad solicitada</label>
                        <input type="text" class="txt-to-number" id="txtCantidadPanel">
                    </div>     
                </div>
            </div> -->
        </div>

        <!-- Seccion de los botones -->
        <section class="button-section">
            <div class="button-container">
                
                <div class="button-grouper tooltip"> 
                    <span class="tooltip-box">Guardar</span>
                    <button id="btnGuardar" class="btn-custom-primary">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
                <div class="button-grouper tooltip">
                    <span class="tooltip-box">Regresar</span>
                    <button id="btnRegresar" class="btn-custom-primary">
                        <i class="fa-solid fa-arrow-left"></i> 
                    </button>
                </div>
                <div class="button-grouper tooltip">
                    <span class="tooltip-box">Actualizar</span>
                    <button id="btnActualizar" class="btn-custom-success">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                    </button>
                </div>
                <!-- <div class="button-grouper">
                    <button id="btnCancel" class="btn-custom-danger">
                        <i class="fa-solid fa-xmark fa-2x"></i>
                        <span>Cancelar</span>
                    </button>
                </div> -->
            </div>
        </section>

        <!-- Seccion de los botones -->
    </div>
    <script src="/app/js/creacionDocumento.js"></script>
</div>