<div class="section-content">
    <div class="section-container" id="formContainer">
      <div class="header-container">
  
        <div class="form-header">
          <h1><i class="fa-solid fa-gear"></i> &nbsp Seleccion de pedidos</h1>
          <span>Seleccion de un rango de pedidos</span>
        </div>
      </div>
      <div class="input-content">
        <div class="form-input">
          <label for="">Pedido Desde</label>
          <input type="number" id="desde">
        </div>
        <div class="form-input">
          <label for="">Pedido Hasta</label>
          <input type="number" id="hasta">
        </div>
      </div>
    </div>
  
    <!-- Seccion de los botones -->
    <section class="button-section">
      <div class="button-container">
        <div class="button-grouper tooltip">
          <span class="tooltip-box ">Limpiar</span>
          <button id="btnClearAll" title="Nuevo" class="btn-custom-primary">
            <i class="fa-solid fa-file fa-2x"></i>
          </button>0
        </div>
        <div class="button-grouper tooltip">
          <span class="tooltip-box">Procesar</span>
          <button id="btnProcesar" class="btn-custom-info">
            <i class="fa-solid fa-gear"></i>
          </button>
        </div>
      </div>
    </section>
    <!-- Seccion de los botones -->
    <script src="/app/js/seleccion-pedidos.js"></script>
  
  </div>