
<div class="form-container" id="panel">
    <template class="" id="menu">
        <div class="contx-menu animation-menu" id="contentMenu">
            <div class="center-element">
               <button id="statusId" class="btn-status"></button> 
            </div>   
            <div class="item" id="verDocument">
                <i class="fa-regular fa-folder-open"></i>Ver documento 
            </div>
            <!-- <div class="item display-none" id="modificarPedido">
                <i class="fa-regular fa-pen-to-square"></i>Modificar
            </div> -->
            <div class="item log-cambio" id="anularDocumento">
                <i class="fa-solid fa-xmark"></i>Anular 
            </div>
            <div class="item diferencia-pedidos" id="postearDocumento">
                <i class="fa-solid fa-lock"></i>Postear
            </div>
           <!--  <div class="item confi-pedido display-none" id="">
                <i class="fa-solid fa-code-compare"></i>Confirmar pedido
            </div> -->
        </div>
    </template>
    
    <div class="form-header">
        <h1> <i class="fa-solid fa-table"></i> &nbsp Inventario</h1>
        <span></span>

    </div>
                

    <div class="content-table-pedidos">
        <div class="table-content" id="tablePedidos">
            <div class="Search-articles">
                <div class="articles">
                    <label for="">Buscar</label>
                    <input placeholder="Buscar" type="number" id="inputBuscador">
                </div>
            </div>
            <!-- <div class="filter-tienda">
                <span>Filtro</span>
                <select name="" id="filterTienda">
                    <option value="todos">Todos</option>
                    <option value="enviados">Enviados</option>
                    <option value="despachado">Despachados</option>
                    <option value="recibido">Recibido</option>
                    <option value="posteado">Posteado</option>
                </select>

            </div> -->
            <!-- thead tr td -->
            <div class="table-cabezera">
                <div class="tr-head" id="tr-head">
                    <div class="td-head">Documento</div>
                    <div class="td-head">Descripción</div>
                    <div class="td-head">Fecha</div>
                    <div class="td-head">Usuario</div>
                    <div class="td-head">Estatus</div>
                    <div class="td-head"></div>
                </div>
            </div>
            <!-- tbody tr td -->
            <div class="table-cuerpo pb" id="tbodyPedidos">
              
            </div>
                
                
            
        </div>

    

        <section class="button-section btn-container-pedidos">
            <div class="button-container">                                
         
                <div class="button-grouper tooltip">
                    <span class="tooltip-box">Agregar un nuevo pedido</span>
                        <button id="agregarPedido" title="Nuevo pedido" class="btn-custom-secondary">
                            <i class="fa-solid fa-file fa-2x"></i>
                            <!-- <span></span> -->
                        </button>
                </div>
                <div class="button-grouper tooltip" >
                    <span class="tooltip-box">Continual pedido</span>
                    <button id="continualPedido" class="btn-custom-secondary" >
                        <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
                        <!-- <span></span> -->
                    </button>
                    
                </div>
                <div class="button-grouper tooltip" >
                    <span class="tooltip-box">Actualizar</span>
                    <button id="btnActualizar" class="btn-custom-secondary" >
                        <i class="fa-solid fa-rotate-right"></i>
                        <!-- <span></span> -->
                    </button>
                    
                </div>
            </div>
        </section>
    </div>


    <div class="modal-container " id="modalContainer">
        <div class="modal-content widt-94 height-90vh">

            <div class="head-modal">
                <div class="info-modal-content">
                    <h1><i class="fa-regular fa-folder-open"></i> &nbsp Documento # <span>45</span></h1>
                    <span></span>
                </div>
                <div class="close-modal">
                    <i id="closeModalAction" class="fa-regular fa-circle-xmark fa-3x"></i>
                </div>
            </div>
            

            <div class="log-cambio-cuerpo ">
                <div class="table-content table-content-logcambio " id="tableLogCambio">
                    <!-- thead tr td -->
                    <div class="table-cabezera">
                        <div class="tr-head tr-head-log" id="tr-head">
                            <div class="td-head">Codigo</div>
                            <div class="td-head">Referencia</div>
                            <div class="td-head">Descripción</div>
                            <div class="td-head">Cantidad</div>
                            <div class="td-head">Existencia</div>
                            <div class="td-head">Fecha de ingreso</div>
                            <div class="td-head">Usuario</div>
                        </div>
                    </div>
                    <!-- tbody tr td -->
                    <div class="table-cuerpo scroll" id="tbodyLogCambio">
                       
                    </div>

                </div>
            </div>
           
        </div>
    </div>
    <div class="top-button" id="topButton">
        <i class="fa-solid fa-angle-up"></i>
        <p>Top</p>
    </div>
    
    <script src="/app/js/tablePedidos.js"></script>
</div>
    <!-- Las opciones del drowp daom

    Imprimir
    lob de cambio
    modificar => solo se puede modificar cuando este en proceso
    Pedidos originales 
    Pedidos finales

    -->

    
    <!-- <script src="app/tempral.js"></script> -->


